#menuBar {
    width: 100%;
    height: var(--menuBar-height);
    background-image: linear-gradient(35deg, var(--c4), var(--c3) 150px);
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 42px black;
}
#menuBar .menu {
    padding-top: calc(var(--menuBar-height) + 5px);
}
#menuBar-left, #menuBar-center, #menuBar-right {
    display: flex;
    justify-content: space-between;
    height: var(--menuBar-height);
    gap: 10px;
}
#menuBar-left {
    padding-left: var(--logo-paddingLeft);
}
#menuBar-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#menuBar-right {
    padding-right: 10px;
}
#siteTitle {
    height: 100px;
    aspect-ratio: 15 / 8;
    filter: drop-shadow(var(--standardShadow));
}
#siteTitle > .vehicleCon {
    width: calc(100vw - var(--logoTunnel-offsetX) - var(--logo-paddingLeft));
    height: var(--logoTunnel-height);
    left: var(--logoTunnel-offsetX);
    top: 75px;
}
.menuBarButtonCon {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    height: 100%;
}
.menuBarButtonCon .menuBarButton {
    box-sizing: border-box;
    box-shadow: var(--neumorphicShadow);
}
#accButton {
    border: 2px solid rgba(255,255,255,0.4);
}
.goMenuButton {
    background-color: var(--c7);
}
.goMenuButton span {
    color: var(--c11);
    text-shadow: 0 0 10px var(--c11);
}

#topSpace, #bottomSpace {
    width: 100%;
}

#footer {
    padding-bottom: 20px;
}
#legal {
    display: flex;
    justify-content: center;
    font-size: 0.65em;
}

#extraButtons {
    position: sticky;
    top: calc(100% - 80px);
    width: 100%;
    height: 0;
    pointer-events: none;
}
#extraButtons-left, #extraButtons-right {
    padding: 15px;
    position: absolute;
}
#extraButtons-left {
    left: 0;
}
#extraButtons-right {
    right: 0;
}