#home #mainTitle {
  height: calc(100vh + 200px);
}

/*
#home #main_title .scrollmagic-pin-spacer {
  padding-top: 50px !important;
  padding-bottom: 400px !important;
  height: 56px !important;
}
*/

#title_container {
  /*margin: 10vh 0;
  padding-top: 35px;*/
  position: fixed;
  width: 100%;
  top: calc(var(--menuBar-height) + var(--logoTunnel-height) + 30vh);
}